.interest_container {
  width: 122rem;
  display: flex;
  gap: 8.6rem;
}

.interest_left_container {
    display: flex;
    flex-direction: column;
    width: 58.7rem;
}

.interest_left_container h2 {
  color: #1e2019;
  font-family: Helvetica Neue;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.interest_left_container ul {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.interest_left_container li {
  color: #7c9cbf;
  background: var(--disabled, #ebf4f8);
  border-radius: 2rem;
  list-style: none;
  padding: 1.25rem 3rem;

  /* description */
  font-family: Helvetica Neue;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  /* transition: 0.3s ease-in-out; */
}

.interest_left_container li:hover{
    background: #D81E5B;
    color: white;
}

.interest_right_container {
  width: 597px;
  height: 597px;
}
