.node-circle {
    fill: #000;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.node {
    font: 10px sans-serif;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

.demo-circle {
    fill: #D81E5B
}

.root-circle {
    fill: rgba(14, 81, 142);
    r: 7;
}

.fin-circle {
    fill: #70B77E;
}

.labor-circle {
    fill: #FF9F1C;
}

.normal-circle {
    fill: #000;
}

.map_parent_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 40rem; /* Optionally, to make it take up the entire viewport height */
  }
  
  .map_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 40rem;
    /* Add any styles for the map container here */
  }